@media screen and (max-width: 767px) {
    .login {
        align-items: center;
        justify-content: center;
    }

    .copyright {
        width: 600px !important;
        margin-top: -80px;
    }
}